.messageSender {
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    padding: 15px;
    display:flex;
}

@media(min-width:800px){
    .messageSender__top {
        display: flex;
    }
    .messageSender__top > form {
        flex: 1;
        display: flex;
    }
}

.messageSender__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 2% 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
@media (max-width:1200px) {
    .messageSender__top > form > button {
        background-color: #73C0B0;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        margin: 2px 10px;
    }
}

@media (min-width:1200px){
    .messageSender__top > form > button {
        display: none;
    }
}

.messageSender__input {
    flex: 1;
}