.form-diario {
  padding: 0% 7%;
}
.form-diario input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

#today-label{
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 35px;
  text-align: left;
}

.saveDay{
  background-color: #68ac9e;
  width: 60%;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.text{
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: 'Italiana', serif;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
.text_diario{
  width: 60%;
}
.text{
  font-size: 30px;
  width: 60%;
  font-family: 'Italiana', serif;
}
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.text_diario{
  width: 90%;
}
.text{
  font-size: 30px;
  width: 60%;
  text-align: center;
  font-family: 'Italiana', serif;
}
}
